@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

@layer base {
  :root {
    --shadow-dense: rgba(0, 0, 0, 0.07) 0px 1px 1px, 
    rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, 
    rgba(0, 0, 0, 0.07) 0px 8px 8px, 
    rgba(0, 0, 0, 0.07) 0px 16px 16px;

    --almost-black: 12 12 12;
    --body-color: var(--almost-black);
    --sub-text-color: 107 114 128;
    --background-color: theme("colors.gray.50");
    --color-primary: theme("colors.purple.600");
    --color-secondary: theme("colors.purple.300");
  }

  .dark {
    --body-color: 226 232 240;
    --sub-text-color: 209 213 219;
    --background-color: var(--almost-black);
    --color-primary: theme("colors.lime.400");
    --color-secondary: theme("colors.lime.200");
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .sheen-ring {
    --width: 1px;
    --upper-ring-color: 180 197 202;
    --base-color: rgb(var(--upper-ring-color) / 0.5);

    --tw-ring-shadow: 0 0 0 var(--width) var(--base-color);
    --upper-ring: 0 -1px 0 rgb(var(--upper-ring-color));
 
      box-shadow: var(--upper-ring), var(--tw-ring-shadow), var(--shadow-dense);
  }
}

details summary .arrow-icon {
  transition: transform 0.225s ease;
}

/* Rotate arrow when <details> is open */
details[open] summary .arrow-icon {
  transform: rotate(90deg);
}

/* Custom scrollbar for all WebKit browsers */
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  padding: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: lightgrey;
  border-radius: 4px;
}

@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-thumb {
    background-color: rgba(87, 53, 87, 0.6);
  }
}

pre.shiki {
  padding: 16px;
  border-radius: 8px;
  overflow-x: auto;
  margin: 24px 0;
  box-shadow: var(--shadow-dense);
}

@media (prefers-color-scheme: dark) {
  .shiki,
  .shiki span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    /* Optional, if you also want font styles */
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}

/* Home screen animation */
@keyframes fade-in-anim {
  from {
    opacity: 0;
    transform: translateY(40px) scale(0.8);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.fade-in {
  animation: fade-in-anim 425ms ease-out both;
  animation-delay: calc(55ms * var(--animation-order));
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
