@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
    margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
    font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

@layer base {
  :root {
    --shadow-dense: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.04), 0 3px 6px rgba(0, 0, 0, 0.1), 0 6px 12px rgba(0, 10, 10, 0.10)
  }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@layer components {
  .link-animation {
    --underline-width: 2px;
    padding-bottom: 1px;

    text-decoration: none;
    background-image: linear-gradient(
        to right,
        theme("colors.green.300"),
        theme("colors.blue.300")
      ),
      linear-gradient(
        to right,
        theme("colors.purple.200"),
        theme("colors.blue.500")
      );

    background-size: 100% var(--underline-width),
      100% var(--underline-width);
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat, no-repeat;

  }

  details summary .arrow-icon {
    transition: transform 0.225s ease;
  }
  
  /* Rotate arrow when <details> is open */
  details[open] summary .arrow-icon {
    transform: rotate(90deg);
  }
}

@media (hover: hover) and (prefers-reduced-motion: no-preference) {
  @layer components {

    .link-animation {
      transition: background-size 220ms cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    .link-animation:hover {
      background-size: 0 var(--underline-width), 100% var(--underline-width);
    }
}
}

/* Custom scrollbar for all WebKit browsers */
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  padding: 4px;
}


::-webkit-scrollbar-thumb {
  background-color: lightgrey;
  border-radius: 4px;
}

@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-thumb {
    background-color: rgba(87,53,87,0.6);
  }
}

 pre.shiki {
  padding: 16px;
  border-radius: 8px;
  overflow-x: auto;
  margin: 24px 0;
  box-shadow: var(--shadow-dense);
}

@media (prefers-color-scheme: dark) {
  .shiki,
  .shiki span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    /* Optional, if you also want font styles */
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}